/* 全局样式 */
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

.el-breadcrumb{
  margin-bottom: 20px;
  font-size: 14px;
}

.el-card{
  box-shadow: 0 1px 1px rgba(0,0,0,0.15)!important;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.el-table{
  margin-top: 15px;
  margin-left: 12px;
}